.App {
  text-align: center;
}

/*Delivery*/
.Delivery{
  width:100%;
  margin-bottom: 100px;

  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.Delivery .bike{
  height: 400px;
  width : 50%;
}

.Delivery .imgline{
  height: 300px;
  width: 250%;
}

.Delivery .delivery-text{
  font-size: 20px;
  margin-bottom: 20px;
}

/*Home*/
.Home{
  align-items: center;
}

.Home .select{
  display:flex;
}

.Home .ControlMenu{
  margin-top: 10px;
  margin-bottom: 10px;
  width:100%;
  height : 30px;
}

.Home .maintype{
  width: 30%;
}

.Home .subtype{
  width:70%;
}

/*Pay*/
.Pay{
  display: inline-block;
  vertical-align: middle;
  width:100%;
  margin-bottom: 100px;
}

.Pay .Pay-header{
  font-size: 20px;
  margin-top: 150px;
  margin-bottom: 20px;
}

.Pay .Pay-main{
  display: inline-flex;
  font-size: 20px;
  padding: 20px;
}

/*Match*/
.Match{
  display: inline-block;
  vertical-align: middle;
}