.App {
  text-align: center;
}

/*Delivery*/
.Delivery{
  width:100%;
  margin-bottom: 100px;

  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.Delivery .bike{
  height: 400px;
  width : 50%;
}

.Delivery .imgline{
  height: 300px;
  width: 250%;
}

.Delivery .delivery-text{
  font-size: 20px;
  margin-bottom: 20px;
}

/*Pay*/
.Pay{
  width:100%;
  margin-bottom: 100px;
}

.Pay .Pay-header{
  font-size: 20px;
  margin-bottom: 20px;
}

.Pay .Pay-main{
  font-size: 20px;
  margin-bottom: 20px;
}
